.board {
  width: 603px;
  height: 603px;
  border: 10px dashed black;
  text-align: center;
  font-size: 20px;
  background: tomato;
}

.indiv-tile {
  float: left;
  width: 199px;
  height: 199px;
  border: 1px solid black;
  /*display: inline-block;*/
  text-align: center;
  font-size: 20px;
  background: green;
}

body {
  background-color: tomato;
}
